[include]
	path = .gituser-default
[includeIf "gitdir:~/Workspace/"]
	path = .gituser-work
[pager]
	branch = false
	diff = false
[core]
	fileMode = false
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[push]
	default = simple
